*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-family: $font-family;
    display: flex;
    
    @media screen and (min-width: 768px){
        align-items: center;
        justify-content: center;
    }
}