@import "variables";
@import "globals";

.card {

  display: flex;
  flex-direction: column;
  margin-top: 7rem;

  &__results {
    height: 22.3rem;
    padding: 1.5rem;
    background-image: linear-gradient(
      to bottom,
      hsl(252, 100%, 67%),
      hsl(241, 81%, 54%)
    );
    border-radius: 0 0 2rem 2rem;
    text-align: center;
    color: $White;

    &--span {
      font-size: $font-size-paragraphs;
      color: $Pale-blue;
    }
  }
  &__scoring {
    margin-top: 1.6rem;
    margin-left: 6.4rem;
    width: 130px;
    height: 140px;
    border-radius: 50%;
    background-image: linear-gradient(
      to bottom,
      hsla(241, 72%, 46%, 0),
      hsla(256, 72%, 46%, 1)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--number {
      font-size: 3.5rem;
    }
    &--hundred {
      color: $Light-lavender;
    }
  }

  &__explain {
    padding: 1.6rem 1rem;

    &--paragraph {
      margin-top: 0.5rem;
      color: $Pale-blue;
    }
  }

  &__summary {
    padding: 1.5rem 2rem;
    font-size: 0.75rem;

    &--title {
      margin-bottom: 1.4rem;
    }

    &--items {
      display: flex;
      flex-direction: column;
      font-size: 1rem;
      gap: 1.2rem;
    }

    &--item {
      display: flex;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &--data {
      color: $Dark-gray-blue;
      margin-right: 1rem;
    }
    &--points {
      font-weight: bolder;
      padding-top: 1rem;
    }
    &--image {
      margin-right: 0.8rem;
      margin-left: 0.8rem;
    }

    &--reaction {
      color: $Light-Red;
      background-color: hsla(0, 100%, 67%, 0.1);
      display: flex;
      justify-content: space-between;
      border-radius: 1rem;
      align-items: center;
    }

    &--memory {
      color: $Orange-yellow;
      background-color: hsla(39, 100%, 56%, 0.1);
      display: flex;
      justify-content: space-between;
      border-radius: 1rem;
      align-items: center;
    }

    &--verbal {
      color: $Green-teal;
      background-color: hsla(166, 100%, 37%, 0.1);
      display: flex;
      justify-content: space-between;
      border-radius: 1rem;
      align-items: center;
    }
    &--visual {
      color: $Cobalt-blue;
      background-color: hsl(234, 85%, 45%, 0.1);
      display: flex;
      justify-content: space-between;
      border-radius: 1rem;
      align-items: center;
    }
  }

  &__button {
    text-align: center;

    &--continue {
      margin-top: 0.5rem;
      width: 100%;
      height: 3.7rem;
      background-color: $Dark-gray-blue;
      border-radius: 2rem;
      color: $White;
      font-size: $font-size-paragraphs;
      border: none;
      cursor: pointer;
    }
    &--continue:hover {
      background-image: linear-gradient(
        to bottom,
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%)
      );
    }
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;

    &__results {
      width: 23rem;
      height: 32rem;
      border-radius: 2rem;
      padding-top: 2.5rem;

      &--span {
        font-size: 1.5rem;
      }
    }

    &__summary {
      width: 23rem;

      &--title {
        margin-top: 1rem;
        margin-left: 0.5rem;
        font-size: 1.5rem;
      }

      &--items {
        margin-top: 1.9rem;
        margin-left: 0.8rem;
      }
      &--data {
        font-size: 1.2rem;
        margin-right: 1.5rem;
      }
    }
    &__scoring {
      width: 12rem;
      height: 12rem;
      margin: auto;
      margin-top: 2.5rem;

      &--number {
        font-size: 4.5rem;
      }
    }
    &__explain {
      padding-top: 1.8rem;
      &--title {
        font-size: 2rem;
        margin-bottom: 0.8rem;
      }
      &--paragraph {
        padding: 0 1.5rem;
        font-size: 1.1rem;
        line-height: 1.6rem;
      }
    }
    &__button {
      margin-top: 0.5rem;

      &--continue:hover {
        background-color: hsl(256, 72%, 46%, 1);
      }
    }
  }
}
